In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('AdultIncome.csv')
df

,age,wc,education,marital status,race,gender,hours per week,IncomeClass
0,38,Private,HS-grad,Divorced,White,Male,40,<=50K
1,28,Private,Bachelors,Married,Black,Female,40,<=50K
2,37,Private,Masters,Married,White,Female,40,<=50K
3,31,Private,Masters,Never-married,White,Female,50,>50K
4,42,Private,Bachelors,Married,White,Male,40,>50K
...,...,...,...,...,...,...,...,...
19782,53,Private,Masters,Married,White,Male,40,>50K
19783,22,Private,Some-college,Never-married,White,Male,40,<=50K
19784,40,Private,HS-grad,Married,White,Male,40,>50K
19785,58,Private,HS-grad,Widowed,White,Female,40,<=50K
19786,22,Private,HS-grad,Never-married,White,Male,20,<=50K

In [5]:
df = pd.get_dummies(df, drop_first=True)
df

,age,hours per week,wc_ Local-gov,wc_ Never-worked,wc_ Private,education_ Doctorate,education_ HS-grad,education_ Masters,education_ Preschool,education_ Prof-school,education_ Some-college,marital status_ Never-married,marital status_ Widowed,marital status_Married,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,gender_ Male,IncomeClass_ >50K
0,38,40,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,1,0
1,28,40,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0
2,37,40,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0
3,31,50,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,1,0,1
4,42,40,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19782,53,40,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,1,1
19783,22,40,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0,1,1,0
19784,40,40,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,1,1,1
19785,58,40,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0
19786,22,20,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,1,1,0

In [8]:
X = df.drop('IncomeClass_ >50K', axis=1)
Y = df['IncomeClass_ >50K']

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [12]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

In [13]:
dtc = DecisionTreeClassifier()
rfc = RandomForestClassifier()
svc = SVC(kernel='rbf', gamma=0.5)

**DecisionTreeClassifier**

In [28]:
from sklearn.model_selection import cross_validate, cross_val_predict, cross_val_score
from sklearn.metrics  import accuracy_score

In [29]:
cv_results_dtc = cross_validate(dtc, X_train, y_train, cv=10, return_train_score=True)
cv_results_dtc

{'fit_time': array([0.03291154, 0.02892232, 0.03195453, 0.02992487, 0.02991891,
        0.0329628 , 0.03189301, 0.02991748, 0.03184247, 0.03284025]),
 'score_time': array([0.00199509, 0.00199509, 0.00195336, 0.00299597, 0.00199509,
        0.00199509, 0.00199461, 0.0020659 , 0.00203991, 0.00199389]),
 'test_score': array([0.77321541, 0.76753001, 0.77195199, 0.79216677, 0.79027164,
        0.78900821, 0.78142767, 0.77447884, 0.76310802, 0.77560051]),
 'train_score': array([0.90839534, 0.91022041, 0.90951846, 0.90818475, 0.90867612,
        0.90874631, 0.90846553, 0.90951846, 0.91000983, 0.90917386])}

In [30]:
cv_results_dtc['train_score'].mean()

0.909090908508626

In [31]:
cv_results_dtc['test_score'].mean()

0.7778759065385781

In [32]:
cross_val_score(dtc, X_train, y_train, cv=10)

array([0.77574226, 0.77321541, 0.77195199, 0.7934302 , 0.78963992,
       0.79027164, 0.78521794, 0.77511055, 0.76121289, 0.77560051])

In [34]:
y_pred = cross_val_predict(dtc, X_test, y_test, cv=10)
accuracy_score(y_test, y_pred)

0.7607377463365336

**RandomForestClassifier**

In [35]:
cv_results_rfc = cross_validate(rfc, X_train, y_train, cv=10, return_train_score=True)
cv_results_rfc

{'fit_time': array([0.9295187 , 0.98747611, 0.92611599, 0.95556164, 0.94896603,
        0.94149804, 0.92230487, 0.94546294, 0.92153406, 0.92539787]),
 'score_time': array([0.04188824, 0.04285026, 0.0418961 , 0.04089069, 0.03993678,
        0.04288578, 0.04288507, 0.0428853 , 0.04188752, 0.04184723]),
 'test_score': array([0.79090335, 0.78142767, 0.78584965, 0.8041693 , 0.81364498,
        0.79532533, 0.79090335, 0.80101074, 0.78205938, 0.78255373]),
 'train_score': array([0.90839534, 0.91022041, 0.90951846, 0.90818475, 0.90867612,
        0.90867612, 0.90839534, 0.90944827, 0.91000983, 0.90917386])}

In [36]:
cv_results_rfc['train_score'].mean()

0.9090698499658771

In [37]:
cv_results_rfc['test_score'].mean()

0.7927847475508184

In [38]:
y_pred = cross_val_predict(rfc, X_test, y_test, cv=10)
accuracy_score(y_test, y_pred)

0.7882769075290551

**SVM**

In [39]:
cv_results_svc = cross_validate(svc, X_train, y_train, cv=10, return_train_score=True)
cv_results_svc

{'fit_time': array([10.71229291, 10.63546586, 10.50554776, 10.30543232,  8.65104318,
         8.86408114,  8.62130857,  8.859869  ,  8.8447504 ,  8.94358277]),
 'score_time': array([0.5033555 , 0.51026797, 0.62734461, 0.44284081, 0.43084669,
        0.43679667, 0.43040133, 0.41796422, 0.41685462, 0.42819428]),
 'test_score': array([0.79658876, 0.79279848, 0.79406191, 0.81174984, 0.81301327,
        0.81933039, 0.80669615, 0.80227416, 0.79595704, 0.78824273]),
 'train_score': array([0.8800365 , 0.87926435, 0.87905377, 0.87750948, 0.87793065,
        0.87842201, 0.87793065, 0.87919416, 0.87729889, 0.87997473])}

In [40]:
cv_results_svc['train_score'].mean()

0.878661519200256

In [41]:
cv_results_svc['test_score'].mean()

0.8020712724403488

In [42]:
y_pred = cross_val_predict(svc, X_test, y_test, cv=10)
accuracy_score(y_test, y_pred)

0.7791814047498736